In [1]:
import numpy as np
import pandas as pd
from LogisticRegression import LogisticRegression as logreg

In [2]:
df_test = pd.read_csv('weights.csv', header=0)

In [3]:
df_test

    Ravenclaw  Slytherin  Gryffindor  Hufflepuff
0   -0.774028  -0.252225   -0.345318   -0.544896
1   -0.004737   0.008442    0.015870    0.014422
2    0.015858   0.260715    0.196631    0.179043
3   -0.146923   0.135187    0.455335    0.769625
4    0.242595  -0.322541   -0.310628    0.550761
5    0.361444   0.564210    0.166676   -0.352887
6    0.026354  -0.605562    0.010656    0.102500
7    0.611397  -0.058713    0.092192   -0.175594
8    0.421964  -0.169559    0.388842   -0.516050
9    0.072568   0.268664   -0.159657    0.426709
10  -0.028457   0.215440   -0.301473    0.347152
11  -0.009174   0.445395    0.085616   -0.023612
12   0.052257   0.219769    0.169015    0.125908
13   0.503396  -0.336070   -0.218601   -0.014298
14   0.151888   0.204159    0.701239   -0.010766

In [4]:
ravenclaw = logreg(np.array(df_test['Ravenclaw']))
slytherin = logreg(np.array(df_test['Slytherin']))
gryffindor = logreg(np.array(df_test['Gryffindor']))
hufflepuff = logreg(np.array(df_test['Hufflepuff']))

In [5]:
df_test = pd.read_csv('./datasets/dataset_test.csv')
df_test.fillna(0,inplace=True)
df_test = df_test.drop(['Birthday','First Name','Last Name'], axis=1)
df_test['Best Hand'] = df_test['Best Hand'].astype(str).map({'Left':'0','Right':'1'})
df_test['Best Hand'] = pd.to_numeric(df_test['Best Hand'])
x_test = np.array(logreg.normalize(df_test.iloc[:,2:]))
ravenclaw_test = ravenclaw.predict(x_test)
slytherin_test = slytherin.predict(x_test)
gryffindor_test = gryffindor.predict(x_test)
hufflepuff_test = hufflepuff.predict(x_test)
result = np.c_[ravenclaw_test, slytherin_test, gryffindor_test,hufflepuff_test]

In [6]:
prediction = np.zeros(len(x_test)).astype(str)
for index, row in enumerate(result):
    if (max(row) == row[0]):
        prediction[index] = 0.
    elif (max(row) == row[1]):
        prediction[index] = 1.
    elif (max(row) == row[2]):
        prediction[index] = 2.
    elif (max(row) == row[3]):
        prediction[index] = 3.
    else:
        prediction[index] = 0.
prediction = pd.to_numeric(prediction).astype(int)
prediction

array([3, 0, 2, 3, 3, 1, 0, 3, 0, 3, 3, 1, 1, 1, 1, 3, 0, 1, 0, 3, 3, 1,
       0, 0, 3, 3, 0, 1, 2, 0, 3, 3, 2, 3, 3, 0, 2, 0, 1, 0, 0, 1, 3, 1,
       3, 0, 1, 2, 0, 1, 0, 3, 0, 0, 3, 1, 1, 0, 3, 2, 2, 2, 3, 3, 0, 3,
       3, 0, 3, 0, 1, 1, 2, 0, 2, 3, 3, 2, 0, 2, 0, 3, 1, 2, 2, 3, 3, 3,
       0, 0, 3, 1, 2, 3, 0, 0, 2, 1, 3, 0, 3, 3, 3, 1, 0, 0, 3, 1, 1, 3,
       3, 1, 2, 0, 3, 0, 0, 3, 1, 0, 2, 3, 2, 2, 0, 0, 1, 0, 3, 0, 0, 2,
       2, 1, 3, 0, 0, 1, 2, 3, 3, 0, 2, 0, 2, 0, 0, 3, 3, 0, 3, 2, 2, 0,
       0, 2, 3, 1, 3, 0, 0, 3, 3, 3, 0, 1, 3, 3, 3, 3, 2, 3, 3, 1, 3, 2,
       2, 3, 3, 1, 0, 0, 2, 1, 2, 2, 3, 0, 3, 1, 2, 3, 2, 0, 0, 3, 0, 3,
       3, 2, 2, 3, 0, 3, 2, 1, 0, 3, 2, 0, 2, 3, 1, 0, 1, 1, 3, 3, 2, 2,
       2, 2, 3, 3, 2, 0, 0, 0, 3, 3, 2, 3, 1, 0, 3, 3, 3, 1, 2, 2, 3, 2,
       3, 3, 2, 2, 0, 0, 3, 3, 1, 1, 3, 3, 0, 0, 3, 0, 3, 0, 1, 0, 0, 3,
       3, 0, 0, 2, 0, 0, 3, 1, 0, 2, 0, 3, 0, 2, 2, 3, 3, 3, 3, 0, 3, 0,
       0, 1, 2, 0, 2, 2, 0, 2, 3, 2, 1, 3, 3, 3, 3, 3, 3, 3, 0, 1, 3, 0,
       3, 1, 3, 3, 3, 2, 0, 3, 0, 1, 3, 1, 1, 0, 0, 1, 0, 0, 1, 3, 1, 2,
       0, 3, 2, 0, 0, 3, 0, 3, 2, 3, 3, 1, 0, 2, 0, 3, 3, 0, 0, 1, 1, 2,
       3, 0, 1, 3, 3, 3, 2, 3, 0, 2, 2, 0, 3, 2, 3, 3, 2, 3, 1, 2, 2, 0,
       3, 3, 0, 1, 2, 1, 2, 3, 2, 2, 2, 2, 0, 0, 3, 0, 1, 3, 3, 0, 0, 1,
       3, 3, 0, 0])

In [7]:
dic0 = {
    'Ravenclaw':0,
    'Slytherin':1,
    'Gryffindor':2,
    'Hufflepuff':3
}
dic2 = {
    0:'Ravenclaw',
    1:'Slytherin',
    2:'Gryffindor',
    3:'Hufflepuff'
}
f = open("houses.csv", "w")
f.write('Index,Hogwarts House\n')
for index, n in enumerate(prediction):
    n = dic2[n]
    f.write(f'{index},{n}\n')
f.close()

In [8]:
result = pd.read_csv('houses.csv')
result

     Index Hogwarts House
0        0     Hufflepuff
1        1      Ravenclaw
2        2     Gryffindor
3        3     Hufflepuff
4        4     Hufflepuff
..     ...            ...
395    395      Slytherin
396    396     Hufflepuff
397    397     Hufflepuff
398    398      Ravenclaw
399    399      Ravenclaw

[400 rows x 2 columns]

In [9]:
truth = pd.read_csv('./datasets/dataset_truth.csv')
orig = np.array(truth['Hogwarts House'].map(dic0))
pred = prediction.astype(int)
accuracy = 0
for i, value in enumerate(orig):
    if (orig[i] == pred[i]):
        accuracy +=1
accuracy = accuracy / len(pred) * 100
print('Accuracy: {:.5}%'.format(accuracy))

Accuracy: 98.5%

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(orig,pred) * 100

98.5